@{    
    Layout = "_LayoutAdmin";
}

<link rel="stylesheet" href="~/css/Login.css">
<h3>Ingresso comprado!</h3>
<h2>Divirta-se!</h2>

</hr>
<a asp-action="Home" asp-controller="Gestao" class="btn btn-black">Finalizar</a>
<hr/>