@model mvc_desafio_master.DTO.EventoDTO
@{
    Layout = "_LayoutAdmin";
    
}

    <h3>Novo Evento</h3>
    <hr>
    <form class="form-horizontal" asp-controller="Eventos" asp-action="Salvar" method="POST">
        <input type="hidden" asp-for="Id" value="0">
        
        <label asp-for="evento">Evento:</label>
        <input type="text" asp-for="evento" class="form-control"><br>
        <span asp-validation-for="evento"></span>

        <label asp-for="Capacidade">Capacidade:</label>
        <input type="text" asp-for="Capacidade" class="form-control"><br>
        <span asp-validation-for="Capacidade"></span>

        <label asp-for="Data">Data:</label>
        <input type="datetime-local" asp-for="Data" class="form-control"><br>
        <span asp-validation-for="Data"></span>

        <label asp-for="ValorIngresso">Valor do Ingresso:</label>
        <input type="text" asp-for="ValorIngresso" class="form-control"><br>
        <span asp-validation-for="ValorIngresso"></span>

        <label asp-for="EstiloID">Estilo:</label>
        <select class="form-control" asp-for="EstiloID" asp-items='@(new SelectList(@ViewBag.Estilo, "Id", "EstiloMusical"))'></select>
        <br>
        <label asp-for="CasaShowID">Casa Show:</label>
        <select class="form-control" asp-for="CasaShowID" asp-items='@(new SelectList(@ViewBag.CasaShow, "Id", "Nome"))'></select>
        <br>
        <br>
        <button class="btn btn-success">Cadastrar</button> 
        </form>