@model ShowHouse.Application.DTO.EventDTO

@{
    ViewData["Title"] = "Register new Event";   
}

<h2>
    @ViewData["Title"]
</h2>
<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <label asp-for="Capacity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <label asp-for="Date" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <label asp-for="TicketValue" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TicketValue" class="form-control" />
                <span asp-validation-for="TicketValue" class="text-danger"></span>
            </div>
            <label asp-for="ShowHouseId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ShowHouseId" class="form-control" asp-items="ViewBag.ShowHouseId"></select>
            </div>
            <label asp-for="StyleId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="StyleId" class="form-control" asp-items="ViewBag.StyleId"></select>
            </div>
        </div>

        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success"/>
                <a asp-action="Index" class="btn btn-info">Back to list</a>
            </div>
        </div>
    </div>
</form>