@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
      <div class="text-center">
        <h1 class="display-4">Melodia da Vida</h1>
        <p>Os melhores eventos à um clique de distância</p>
           <img src="~/Imagens/shows.png" height="350" width="350">
      </div>
    </body>
</html>