@model ShowHouse.Application.DTO.ShowHouseEventDTO

@{
    ViewData["Title"] = "Register new Show House";  
    Layout = "_LayoutAdmin"; 
}

<h2>
    @ViewData["Title"]
</h2>
<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <label asp-for="Address" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>

        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success"/>
                <a asp-action="Index" class="btn btn-info">Back to list</a>
            </div>
        </div>
    </div>
</form>